<html>
    <title>enter-date-and-time</title> </title>
    <head>ENTER DATE AND TIME</head>
    <body>
        <form action="/update-od-attendance-form" method="POST">
            <div>
                <!-- instead make buttons which has every class ever taken-->
                DATE:<input type="date" required name='date'> <br><br><br>
                HOUR:<input type = "number" required name=hour><BR><BR>
                Course:<input type='text' required name='course'><br><br>
                    <input type="submit" value="GET ABSENTEES LIST">
            </div>
        </form>
    </body>
</html>
