<head>
  <link rel="stylesheet" type="text/css" href="example.css" >
  <script src="jquery.js"></script>
  <script type="text/javascript" src="example.js"></script>
</head>


<div class="container">
  <div class="c1">
     
     <div class="c11">
        <h1 class="mainhead">  </h1>
        <p class="mainp"></p>
     </div>
     <div id="left"><h1 class="s1class"><span>Faculty </span><span class="su">LOG IN</span>
     </h1></div>
     <div id="right"><h1 class="s2class"><span>Student </span><span class="su">LOG IN</span></h1></div>
  </div>
  <div class="c2">
     <form class="signup">
        <h1 class="signup1">LOG IN</h1>
        <br><br><br><br>
     <input name="username" type="text" placeholder="Username*" class="username"/>
     
     
     
     <input name="password" type="password" placeholder="Password*" class="username"/>
        
        <button class="btn">LOG IN</button>
        <br><br><br><br>
        <a href=""><p class="signup2">Forget Password?</p></a>
     </form>
     <form class="signin">
        
        <h1 class="signup1">LOG IN</h1>
        <br><br><br><br>
        <input name="username" type="text" placeholder="Username*" class="username"/>
     
     <input name="password" type="password" placeholder="Password*" class="username"/>
        
        <button class="btn">LOG IN</button>
        
        <br><br><br><br>
        <a href=""><p class="signup2">Forget Password?</p></a>
     </form>
     
  </div>
</div>