<html>
    <title>resert-password-form</title>
    <head>

    </head>
    <body>
        <form method="POST"  action="/reset-password">
            <label>Enter username : </label><input type="text" value="username">
            <label>Enter current password : </label> <input type="password" value="curr_pass">
            <label>Enter new password : </label> <input type="password" value="new_pass1">
            <label>Renter new Paswword :</label><input type="password" value="new_pass2">
        </form>
    </body>
</html>