<html>
    <title>resert-password-form</title>
    <head>

    </head>
    <body>
        <form method="POST"  action="/reset-password">
            <label>Enter username : </label><input type="text" value="username" placeholder="Enter your username">
            <label>Enter current password : </label> <input type="password" name="curr_pass" placeholder="enter current password"> 
            <label>Enter new password : </label> <input type="password" name="new_pass1" placeholder="enter new password">
            <label>Re-Enter new Paswword :</label><input type="password" name="new_pass2 "placeholder="Re-Enter new password">
        </form>
    </body>
</html>