<html>
    <title>students in the course</title>
    <head>Students registeered for the course {{cid}} with you</head>
    <body>
        <div>
            <table id="course-details" class = " table" style="width: 100px; size: 10%" align = "center">
            
            <tr>
                <th>student_id</th>
                <th>student_name</th>
            </tr>
            
            {% for row in res %}
            <tr>
                
                <td align="center" >{{row.student_id}}</td>
                <td align="center">{{row.name}}</td>
                
            </tr>
            {% endfor %}
          
        </table>
        </div>
    </body>
</html>